/**
 * Frontend styles for Waterproof__waterproof-webdesign-info_wp-theme
 *
 * This file continues the setup and imports all styles.
 * - It will be loaded by WPs `watp_frontend.scss`,
 * - and in wp-admin into `watp_editor/_editor-styles-wrapper` as well.
 *
 * This file should not contain or import certain css at-rules (@font-face, @page, ...),
 * Because this rules can't be nested and the editor styles will break (node-sass excepts it, but css-purge breaks).
 *
 * @package Waterproof__waterproof-webdesign-info_wp-theme
 */

@import "~bootstrap/scss/type";
// @import "~bootstrap/scss/images";
@import "~bootstrap/scss/grid";
// @import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
// @import "~bootstrap/scss/dropdown";
// @import "~bootstrap/scss/button-group";
// @import "~bootstrap/scss/input-group";
// @import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
// @import "~bootstrap/scss/card";
@import "~bootstrap/scss/breadcrumb";
// @import "~bootstrap/scss/pagination";
// @import "~bootstrap/scss/badge";
// @import "~bootstrap/scss/jumbotron";
// @import "~bootstrap/scss/alert";
// @import "~bootstrap/scss/progress";
// @import "~bootstrap/scss/media";
// @import "~bootstrap/scss/list-group";
// @import "~bootstrap/scss/close";
// @import "~bootstrap/scss/toasts";
// @import "~bootstrap/scss/modal";
// @import "~bootstrap/scss/tooltip";
// @import "~bootstrap/scss/popover";
// @import "~bootstrap/scss/carousel";
// @import "~bootstrap/scss/spinners";
@import "~bootstrap/scss/utilities";


@import "./mixins/**/*.scss";
@import './generic.scss';
@import './understrap.scss';
@import "./components/**/*.scss";

/**
 * More Typo
 */
b, strong {
    color: $primary;
}

a {
    font-weight: $font-weight-bolder;
    transition: color ease 0.3s, text-decoration ease 0.3s;
    &:hover {
        color: $danger;
        text-decoration: underline $danger;
    }
}
.site-main a {
    text-decoration: underline;
}

%icon-cc {
    &:before {
        @extend .fa;
        content: $fa-var-cc-custom " " $fa-var-cc-by " " $fa-var-cc-nc " " $fa-var-cc-sa;
        color: $body-color;
        margin-right: map-get( $spacers, 1 );
    }
}
.cc {
    @extend %icon-cc;
}


/**
 * Lists
 */
%icon-check {
    &:before {
        @extend .fa;
        font-weight: 900;
        content: $fa-var-check;
        color: $primary;
        display: inline-block;
        margin-left: -1.3em; /* same as padding-left set on li */
        width: 1.3em; /* same as padding-left set on li */
    }
}
ul {
    li {
        margin-bottom: map-get( $spacers, 2 );
    }

    &.check {
        list-style: none;
        & > li {
            @extend %icon-check;
        }
    }
}


/**
 * Donate page, paypal button
 */
.paypal-donate {
    margin-top: map-get( $spacers, 3 );
    text-align: center;
    & > * {
        &:not([name="submit"]) {
            display: none;
        }
    }
}

