
h1,
h2,
h3,
h4,
h5,
h6 {

    &.wp-block-heading-topo {
        position: relative;
        min-width: 66%;

        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        transform: translateX(-50%) !important;     // actually !important should only in editor
        margin-left: 50% !important;                // actually !important should only in editor

        margin-bottom: map-get( $spacers, 3 );
        @include font-size($h1-font-size);


        // fix block aligns
        &.alignwide,
        &.alignfull {
            left: 0;
        }

        &:before {
            position: absolute;
            height: 100%;
            width: 100%;
            content: '';
            background-image: url('../images/htag_bg.svg');
            background-size: cover;
            background-position: center;
            z-index: -1;
        }
        &:nth-of-type(2n+1) {
            &:before {
                transform: scaleX(-1);
            }
        }

        height: 250px;
        &.thin {
            height: 175px;
        }
        &.large {
            height: 350px;
        }

        transition: font-weight 0.3s, color 0.3s;
        &:before {
            filter: none;
            transition: filter 0.3s;
        }
        &:hover {
            color: $primary;
            &:before {
                filter: $filter_dark;
            }
        }

    }
}
