

.wp-block-cover.background-right {
    padding-top: map-get( $spacers, 4 );
    padding-bottom: map-get( $spacers, 4 );

    background-position: 66% center;
    @include media-breakpoint-up( sm ) {
        background-position: 70% center;
    }
    @include media-breakpoint-up( md ) {
        background-position: 75% center;
        &__inner-container { width: 75% !important; }
    }
    @include media-breakpoint-up( lg ) {
        background-position: 80% center;
        &__inner-container { width: 66% !important; }
    }
    // @include media-breakpoint-up( xl ) {
    //     &__inner-container { width: 55% !important; }
    // }

    p {
        margin: 0;
    }

    em {
        float: right;
        padding-right: map-get( $spacers, 5 );
    }

    &__inner-container {
        padding-top: map-get( $spacers, 5 );
        padding-bottom: map-get( $spacers, 5 );
    }
}
